.projects__title {
  padding-left: 5%;
}

.project__img {
  height: 213px;
  width: 213px;
}

.projects__content {
  padding: 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.project__card {
  display: grid;
  gap: 32px;
}

.project__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.project__owner {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-family: "Ubuntu Mono", "Courier New", Courier, monospace;
  gap: 8px;
}

.project__owner img {
  border-radius: 20px;
  object-position: center;
  object-fit: cover;
}

.project__desc {
  line-height: 1.5;
}

.project__tecs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
  width: 100%;
}

.project__tecs img {
  width: 42px;
  height: 42px;
}

.project__btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.project__url,
.project__repo {
  align-items: center;
  background-color: #35bd13;
  color: #000000;
  display: flex;
  height: 48px;
  border-radius: 8px;
  justify-content: center;
  font-size: 14px;
  width: 140px;
  margin-right: 2%;
  text-align: center;
  text-decoration: none;
  padding: 8px;
  width: auto;
  cursor: pointer;
  border: none;
}

.div {
  display: flex;
  flex-direction: row;
}

.div__icon {
  margin-right: 10px;
}

@media screen and (max-width: 992px) {
  .projects {
    padding-bottom: 70px;
  }
  .project__desc {
    width: 100%;
  }

  .projects__content {
    grid-template-columns: 1fr;
  }

  .project__tecs {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(10%, 1fr));
    width: 100%;
  }
}
